[user]
	name = HiroshiHiratsuka
	email = hiratsukah@systena.co.jp
[credential]
	helper = manager
[http]
[core]
	autocrlf = true
	excludesfile = C:\\Users\\systena\\Documents\\gitignore_global.txt
[http]
	proxy = http://hiratsukah:Integra05!@proxy-y.systena.local:8080
