<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <userSettings>
        <SourceTree.Properties.Settings>
            <setting name="MainWindowWidth" serializeAs="String">
                <value>1200.8</value>
            </setting>
            <setting name="MainWindowHeight" serializeAs="String">
                <value>800</value>
            </setting>
            <setting name="MainWindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="MainWindowLeft" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="MainWindowTop" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="GitWhichOne" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="AllowModifyConfigFiles" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GitGlobalIgnoreFile" serializeAs="String">
                <value>C:\Users\systena\Documents\gitignore_global.txt</value>
            </setting>
            <setting name="LastOpenTabIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AnonymousID" serializeAs="String">
                <value>9afa2b60-1be8-4b42-8d8d-2040c4ddcfcd</value>
            </setting>
            <setting name="LastCheckedNews" serializeAs="String">
                <value>04/23/2018 22:58:20</value>
            </setting>
            <setting name="DiffTool" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="MergeTool" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="AgreedToEULA" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AgreedToEULAVersion" serializeAs="String">
                <value>20160201</value>
            </setting>
            <setting name="FirstLaunch" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SSHClientType" serializeAs="String">
                <value>PuTTY</value>
            </setting>
            <setting name="ProxyServerMode" serializeAs="String">
                <value>OperatingSystem</value>
            </setting>
            <setting name="HgWhichOne" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="EnableGitSupport" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableHgSupport" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HgPostPullAction" serializeAs="String">
                <value>Update</value>
            </setting>
            <setting name="HgGlobalIgnoreFile" serializeAs="String">
                <value>C:\Users\systena\Documents\hgignore_global.txt</value>
            </setting>
            <setting name="FirstLaunchSinceHgAdded" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BulkRemoteProjectLinkDone" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MainWindowScreenDeviceName" serializeAs="String">
                <value />
            </setting>
            <setting name="AnalyticsHasAgreed" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AnalyticsDisplayOptIn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NPSAnonUId" serializeAs="String">
                <value>c8b8386e-fbe7-4e3e-978d-3ca4f83ffa20</value>
            </setting>
            <setting name="NPSCancelCount" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="NextNPSPrompt" serializeAs="String">
                <value>04/29/2018 17:38:34</value>
            </setting>
            <setting name="LastInteractionTime" serializeAs="String">
                <value>04/23/2018 22:58:12</value>
            </setting>
            <setting name="AnalyticsLastUploadDate" serializeAs="String">
                <value>04/21/2018 17:39:34</value>
            </setting>
            <setting name="GitSystemPath" serializeAs="String">
                <value>C:\Program Files\Git</value>
            </setting>
            <setting name="LegacyAccountPersistenceServiceLoadEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HgSystemPath" serializeAs="String">
                <value>C:\Users\systena\AppData\Local\Atlassian\SourceTree\hg_local</value>
            </setting>
            <setting name="AasLastSubmitted" serializeAs="String">
                <value>04/23/2018 22:57:16</value>
            </setting>
        </SourceTree.Properties.Settings>
    </userSettings>
</configuration>